<style><%= stylesheet %></style>

<div id="monittr">

  <p id="toggle">+ Expand all</p>

  <% cluster.servers.each do |server| %>

    <div class="server rounded">
      <h2 class="rounded">
        <strong>
          <span title="status" class="dot status <%= server.system.status == 0 ? 'running' : 'failure' %>">&middot;</span>
          <span title="monitored" class="dot monitored <%= server.system.monitored == 1 ? 'running' : 'failure' %>">&middot;</span>
          <a href="<%= server.url %>"><%= server.system.name %></a>
          <%= "<em>#{server.system.message}</em>" if server.system.message %>
        </strong>

        <small>
          <span class="info"><span class="label">load:   </span><%= server.system.load   || 'N/A' %></span>
          <span class="info"><span class="label">cpu:    </span><%= server.system.cpu    || 'N/A' %></span>
          <span class="info"><span class="label">memory: </span><%= server.system.memory || 'N/A' %></span>
          <span class="info"><span class="label">swap:   </span><%= server.system.swap   || 'N/A' %></span>
          <span class="info"><span class="label">uptime: </span><%= time_in_words(server.system.uptime) || 'N/A' %></span>
        </small>
      </h2>

      <div class="content">
        <div class="segment filesystem">
          <h3>Filesystem</h3>
          <ul class="clearfix">
            <% server.filesystems.each do |fs| %>
            <li>
              <strong title="(<%= fs.usage %> of <%= fs.total %>)">
                <span class="dot status <%= fs.status == 0 ? 'running' : 'failure' %>">&middot;</span>
                <span class="dot monitored <%= fs.monitored == 1 ? 'running' : 'failure' %>">&middot;</span>
                <%= fs.name %>
              </strong>
              <%= fs.percent %>%  
            </li>
            <% end %>
          </ul>
          <div class="clear"></div>
        </div><!-- /filesystem -->

        <div class="segment processes">
          <h3>Processes</h3>
          <ul>
            <% server.processes.each do |process| %>
            <li>
              <strong>
                <span class="dot status <%= process.status == 0 ? 'running' : 'failure' %>">&middot;</span>
                <span class="dot monitored <%= process.monitored == 1 ? 'running' : 'failure' %>">&middot;</span>
                <%= process.name %>
                <% unless process.monitored == 1 %><span class="label warning">NOT MONITORED</span><% end %>
              </strong>

              <small>
                <span class="info"><span class="label">cpu:    </span><%= process.cpu    || 'N/A' %></span>
                <span class="info"><span class="label">memory: </span><%= process.memory || 'N/A' %></span>
                <span class="info"><span class="label">uptime: </span><%= time_in_words(process.uptime) || 'N/A' %></span>
              </small>
            </li>
            <% end %>
          </ul>
          <div class="clear"></div>
        </div><!-- /filesystem -->

      </div><!-- /content -->

      <div class="clear"></div>
    </div><!-- /server -->
  <% end %>

  <div class="clear"></div>
</div><!-- /monittr -->

<script>if ('undefined' == typeof jQuery) { document.write("<script type=\"text/javascript\"   src=\"http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js\"></"+"script>"); }</script>

<script>
$(function() {
  $('#monittr .server .content').hide();

  $('#monittr .server').bind('expand', function() {
    $(this).addClass('expanded').find('.content').show('fast', function() { });
  });
  $('#monittr .server').bind('collapse', function() {
    $(this).removeClass('expanded').find('.content').hide('fast', function() { });
  });

  $('#monittr .server h2').toggle(
    function() { $(this).parent().trigger('expand') },
    function() { $(this).parent().trigger('collapse') }
  );

  $('#toggle').toggle(
    function() {
      $('#monittr .server').trigger('expand');
      $(this).html('- Collapse all');
    },
    function() {
      $('#monittr .server').trigger('collapse');
      $(this).html('+ Expand all');
    }
  );
});
</script>
